/* Footer */
.site-footer {


    color: #fff;
    padding: 40px 20px;
    font-size: 14px;
    text-align: center;


    background-color: #303030; /* Dark background */
            position:relative;
            z-index:2;
            top:7rem;



            width:100vw;






}

.site-footer a {
    color: white;
    text-decoration: none;




}

.site-footer a:hover {

    color: orange;


}







.footer-container{
    display:flex;
    justify-content:space-between;
    gap:40px;
    flex-wrap:wrap;
    max-width:1200px;
    margin:auto;
    text-align:left;
}

.footer-column{
    flex:1;
    min-width:250px;
}

.footer-column h3{
    color:#ffa500;
    margin-bottom:15px;
}

.footer-column a{
    display:block;
    margin-bottom:10px;
}

.social-icons{
    margin-top:25px;
}

.social-icons a{
    display:inline-flex;
    align-items:center;
    justify-content:center;

    width:42px;
    height:42px;

    border-radius:50%;

    background:#ffa500;
    color:white;

    margin:0 8px;

    transition:.3s;
}

.social-icons a:hover{
    background:#c07c00;
    color:white;
    transform:translateY(-3px);
}

.footer-bottom{
    margin-top:25px;
}

.footer-bottom p{
    margin-bottom:8px;
}

/* Back To Top */

#backToTopBtn{
    display:none;

    position:fixed;
    bottom:105px;
    right:35px;

    width:50px;
    height:50px;

    border:none;
    border-radius:50%;

    background:white;
    color:black;

    cursor:pointer;

    z-index:9999;

    transition:.3s;
}

#backToTopBtn:hover{
    background:#c07c00;
    transform:translateY(-3px);
}

@media(max-width:768px){

    .footer-container{
        flex-direction:column;
        text-align:center;
    }

    .footer-column{
        text-align:center;
    }
}

@media (max-width: 768px) {

    #backToTopBtn {
        width: 25px;
        height: 25px;
        bottom: 15px;
        right: 50%;
        font-size: 16px;
    }

}



