:root{
    --black:#0b0b0b;
    --dark:#181818;
    --orange:#ff8c00;
    --green:#2ecc71;
    --white:#ffffff;
    --gray:#cccccc;
}

body{
    background: var(--black);
    color: var(--white);
}
ntml,body{
height:100%;
margin:0;
}

.boss{
min-height:100vh;
display:flex;
flex-direction:column;
}
.container{
flex:1;
}

/* MAIN CONTAINER */

.container{
    width: 85%;
    margin: 4rem auto;
    background: #151515;
    padding-top:2rem;
    padding-bottom:4rem;
    padding-left:2rem;
    padding-right:2rem;
    border-top:4px solid orange;
    border-radius: 25px;
}

.container h1{
    text-align: center;
    font-size: 4rem;
    color: var(--orange);
    margin-bottom: 1rem;
}

.container > p{
    text-align: center;
    font-size: 1.6rem;
    color: var(--white);
    max-width: 800px;
    margin: auto;
    margin-bottom: 5rem;
    line-height: 1.8;
}

/* SERVICES */

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}

/* SERVICE BLOCK */

.service{
    width: 85%;

    text-align: center;

    background: #151515;

    padding: 2.5rem 3rem;

    border-radius: 20px;

    transition: 0.3s ease;

    box-shadow:
        0 10px 30px rgba(0,0,0,0.4);
}

/* HEADING */

.service h3{
    font-size: 2rem;
    color: var(--green);
    margin-bottom: 1rem;
    font-weight: 800;
    text-transform: uppercase;
}

/* DESCRIPTION */

.service p{
    font-size: 1.15rem;
    color: #dddddd;
    line-height: 1.9;
    max-width: 700px;
    margin: auto;
}

/* HOVER */

.service:hover{
    transform: translateY(-8px);

    background: #1f1f1f;

    box-shadow:
        0 15px 35px rgba(255,140,0,0.15),
        0 10px 25px rgba(46,204,113,0.15);
}

.service:hover h3{
    color: var(--orange);
}

/* MOBILE */

@media(max-width:768px){

    .container{
        width: 92%;
    }

    .container h1{
        font-size: 2.8rem;
    }

    .container > p{
        font-size: 1rem;
    }

    .service{
        width: 100%;
        padding: 2rem;
    }

    .service h3{
        font-size: 1.6rem;
    }

    .service p{
        font-size: 1rem;
    }
}